*.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/StringInterpolationLetterChallenge/StringInterpolationLetterChallenge/obj/Debug/net9.0/StringInterpolationLetterChallenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/ExtractReplaceRemoveData_Challenge/ExtractReplaceRemoveData_Challenge/obj/Debug/net9.0/ExtractReplaceRemoveData_Challenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct3_ProcessContentsOfStringArray/Prjct3_ProcessContentsOfStringArray/obj/Debug/net9.0/Prjct3_ProcessContentsOfStringArray.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct2CodeThatValidatesStringInout/Prjct2CodeThatValidatesStringInout/obj/Debug/net9.0/Prjct2CodeThatValidatesStringInout.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct2CodeThatValidatesStringInout/Prjct2CodeThatValidatesStringInout/obj/Debug/net9.0/Prjct2CodeThatValidatesStringInout.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct3_ProcessContentsOfStringArray/Prjct3_ProcessContentsOfStringArray/obj/Debug/net9.0/Prjct3_ProcessContentsOfStringArray.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/ExtractReplaceRemoveData_Challenge/ExtractReplaceRemoveData_Challenge/obj/Debug/net9.0/ExtractReplaceRemoveData_Challenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/StringInterpolationLetterChallenge/StringInterpolationLetterChallenge/obj/Debug/net9.0/StringInterpolationLetterChallenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct2CodeThatValidatesStringInout/Prjct2CodeThatValidatesStringInout/obj/Debug/net9.0/Prjct2CodeThatValidatesStringInout.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct3_ProcessContentsOfStringArray/Prjct3_ProcessContentsOfStringArray/obj/Debug/net9.0/Prjct3_ProcessContentsOfStringArray.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/ExtractReplaceRemoveData_Challenge/ExtractReplaceRemoveData_Challenge/obj/Debug/net9.0/ExtractReplaceRemoveData_Challenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/StringInterpolationLetterChallenge/StringInterpolationLetterChallenge/obj/Debug/net9.0/StringInterpolationLetterChallenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/StringInterpolationLetterChallenge/StringInterpolationLetterChallenge/obj/Debug/net9.0/StringInterpolationLetterChallenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part4_WorkingWithVariableData/ExtractReplaceRemoveData_Challenge/ExtractReplaceRemoveData_Challenge/obj/Debug/net9.0/ExtractReplaceRemoveData_Challenge.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct3_ProcessContentsOfStringArray/Prjct3_ProcessContentsOfStringArray/obj/Debug/net9.0/Prjct3_ProcessContentsOfStringArray.GeneratedMSBuildEditorConfig.editorconfig
02_Csharp_Path_Projects/Part3_VariableScopeAndLogic/Prjct2CodeThatValidatesStringInout/Prjct2CodeThatValidatesStringInout/obj/Debug/net9.0/Prjct2CodeThatValidatesStringInout.GeneratedMSBuildEditorConfig.editorconfig
